@charset "UTF-8";
body{
    text-align: center;
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    background-color: rgb(173, 216, 150);
    color: rgb(38, 40, 155);
    text-decoration:underline;
}
h2{
    color: rgb(38, 40, 155);
}
p{
    color: blue;
    text-align: justify;
}