@charset "UTF-8";

/*Versão para todas as demais mídias*/

/*Tipical Device Breakpoints
Pequenas Telas: até 576px
Celular: de 577px até 768px
Tablet: de 769px até 992px
Desktop: de 992px até 1200px
TV: acima de 1200px
*/
@media print{ /*IMPRESSORAS*/
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    body{
        background-image: url(../imagens/back-print.jpg); /*Desnecessário pq bg não imprime*/
        border: 2px solid black;
        border-radius: 10px;
    }
    main h1{
        text-shadow: none;
        color: black;
    }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: block;}
    img#pc{display: none;}
    img#tv{display: none;}

    main::after{
        content: 'Essa impressão foi feita através do site https://www.marciodavid81.github.io/curso/ex026/mq004/index.html';
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) { /*TABLETS*/
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#phone{display: none;}
    img#tablet{display: block;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: none;}
}
@media screen and (min-width: 993px) and (max-width: 1200px) { /*DESKTOP*/
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: block;}
    img#tv{display: none;}
}
@media screen and (min-width: 1201px) { /*GRANDES TELAS*/
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: block;}
}