@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(72deg, purple, violet, white);
}
header menu ul{
    display: flex;
    flex-direction: row;
    background-color: purple;
}
header menu{
    display: flex;
    flex-direction: row;
    background-color: purple;
    padding: 10px;
    align-items: center;
}
li{
    list-style-type: none;
    padding: 10px;
    color: white;
}
li:hover{
    background-color: white;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}
.search-txt{
    height: 30px;
    width: 200px;
}
.search-btn{
    text-decoration: none;
    color: white;
}
main{
    flex: 1 1 0;
    position: relative;
    width: 600px;
    margin: 0 auto;
    background-image: linear-gradient(270deg, lightgreen, aquamarine, white);
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}
main article h1{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}
main article{
    display: block;
    text-align: justify;
    padding: 10px;
    text-indent: 10px;
}
footer{
    background-color: purple;
    color: white;
    text-align: center;
    font-size: 12px;
}