@charset "UTF-8";

/*estilo para a tela*/

*{
    margin: 0px;
    padding: 0px;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
header{
    background-color: gray;
}
header>h1{
    text-align: center;
}
menu ul{
    background-color: lightgray;
}
menu ul li{
    display: inline-block;
    padding: 5px;
}
menu ul li:hover{
    background-color: gray;
    color: white;
    cursor: pointer;
    transform: scale(1.1);    
}
article{
    width: 600px;
    display: block;
    margin: auto;
}